<main class="contenedor">

  <article class="autores">

    <a [routerLink]="['/nuevoautor']">Add an author</a>
    <h4>We have quotes by</h4>

    <section class="filasTit">
      <div class="nombre"><label>Author</label></div>
      <div><label>Actions Available</label></div>
    </section>

    <section class="filas" *ngFor="let item of datos">
      <div class="nombre"><label>{{item.nombre}}</label></div>
      <div class="lineabtn">
      <div><button [routerLink]="['/editarautor',item]">Edit</button></div>
      <div><button (click)="retornarCitas(item._id)">View Quotes</button></div>
      <div><button (click)="deleteAutor(item._id)">Delete Autor</button></div>
        <div class="space"></div>

      </div>

    </section>


    <br>

    <div *ngIf="sindatos">

      <div class="nombre"><label>No hay Autores, Favor ingrese uno aqui: </label></div>
      <a [routerLink]="['/nuevoautor']">Add an author</a>


    </div>
  </article>

</main>
